#picScroll{
	white-space: nowrap;
	overflow: hidden;
	margin: 0 auto;
	width: 600px;
	height: 200px;
	border: 1px solid #c90;
}
body{text-align: center;}
img{
	width: 200px;
	height: 200px;
	margin-left: 5px;	
}
